// global style variables
$page-margin: 16px;
$padding: 16px;
$padding-before-headline: 1.5rem;

// margins & paddings for desktop and tablet
$padding-large: 1.5rem;
$padding-before-headline-large: 3rem;
$padding-before-headline-extra-large: 10rem;
$page-margin--tablet: 2.25rem;
$page-margin--desktop: 6rem;
$padding-other: 1.125rem;

$cta-height: 40px;
