// global style variables
$page-margin: 1rem;
$padding: 1rem;
$padding-before-headline: 1.5rem;

// margins & paddings for desktop and tablet
$padding-large: 24px;
$padding-before-headline-large: 3rem;

$page-margin--tablet: 2.25rem;

$page-margin--desktop: 82px;
