@use "./particials/breakpoints.scss" as *;
@use "./particials/colors.scss" as *;
@use "./particials/font-face.css" as *;
@use "./particials/paddings-margins.scss" as *;
@use "./particials/typography.scss" as *;

// reset the default margin
body,
h1,
h2,
h3,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
// header
header {
  // position: fixed; // how to make the header fixed while not exceed
  margin: 0;
  background-color: $BandSite-Black;
  width: 100vw;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    flex-direction: row;
    justify-self: flex-start;
    align-items: baseline;
  }
}
.nav-logo {
  @extend .page-header;
  font-weight: 400;
  color: $White;
  text-align: center;
  width: 7.5rem;
  padding-top: $padding;
  text-decoration: none;
  @include tablet {
    display: none;
  }
}

.nav-logo--inline {
  display: none;
  @extend .subheader;
  font-weight: 400;
  color: $White;

  @include tablet {
    display: inline-block;
    width: 120px;
    text-decoration: none;
    margin-left: $page-margin--tablet;
    padding-bottom: $padding-large;
    padding-right: $padding-large;
  }

  @include desktop {
    margin-left: $page-margin--desktop;
  }
}

.nav-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  @include tablet {
    justify-content: flex-start;
  }
}

.nav-item {
  @extend .subheader;
  color: $Mercury;
  font-weight: 400; // font-weight for inactivate nav-item
  text-align: center;
  padding-bottom: $padding;
  text-decoration: none;
  flex-grow: 1;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  @include tablet {
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
    padding: $padding-large;
    flex-grow: 0;
  }
}
.nav-item:hover {
  color: $White; // apply $White color for item of hovering over
  border-bottom: thick $White solid;
}
.nav-item:active {
  font-weight: 700; // font-weight for inactivate nav-item
}
.hero {
  height: 40vh;
  position: relative;
  background: url("/assets/Images/hero-bio.jpg") rgba(40, 40, 40, 0.5);
  background-size: cover;
  background-blend-mode: multiply;
  @include desktop {
    height: 90vh;
  }
}

.hero-text {
  @extend .page-header;
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding-left: $page-margin;
  @include tablet {
    padding-left: $page-margin--tablet;
  }
  @include desktop {
    padding-left: $page-margin--desktop;
  }
}

body {
  margin: 0;
  padding: 0;
}
.about {
  padding-bottom: $padding;
  margin: 0 $page-margin;
  @include tablet {
    margin: 0 $page-margin--tablet;
  }
  @include desktop {
    margin: 0 $page-margin--desktop;
  }

  &__heading {
    @extend .section-header;
    text-align: left;
  }
  &__content {
    @include tablet {
      padding: 0px $page-margin--tablet;
      padding-bottom: $padding-large;
    }
    @include desktop {
      padding: 0px $page-margin--desktop;
    }
  }
  &__photo {
    @extend .subheader;
    width: 100%;
    align-items: center;
  }

  &__quotes {
    @extend .subheader;
    font-weight: 600;
    text-align: left;
    &--origin {
      @extend .body-copy;
      font-weight: 600;
    }
  }

  &__band-name {
    @extend .subheader;
    padding-top: $padding-before-headline-large;
  }
  &__list {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-content: space-between;
      gap: $padding-large;
    }
  }
  &__item {
    @extend .body-copy;
    @include tablet {
      flex: inline;
      width: 50%;
    }
  }
}

.gallery {
  background-color: $Alabaster;
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: $padding;
    margin: 0px $page-margin;

    @include tablet {
      flex-direction: row;
      column-count: 3;
      gap: $padding-large;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: $padding-large;
      margin: 0px $page-margin--tablet;
    }
    @include desktop {
      margin: 0 $page-margin--desktop;
    }
  }
  &__title {
    @extend .about__heading;
    margin: 0px $page-margin;
    @include tablet {
      padding-bottom: $padding-large;
      margin: 0px $page-margin--tablet;
    }
    @include desktop {
      margin: 0 $page-margin--desktop;
    }
  }
  &__item {
    width: 100%;
    padding-top: $padding;
    @include tablet {
      width: 30%;
    }
  }
}

.footer_headings {
  @include tablet {
    display: flex;
    justify-content: flex-start;
  }
}

.footer {
  background-color: $BandSite-Black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: $padding;

  &__heading {
    @extend .section-header;
    color: $White;
    text-align: left;
    margin: 0px $page-margin;
    @include tablet {
      display: inline-block;
      margin: 0px $page-margin--tablet;
    }
    @include desktop {
      margin: 0px $page-margin--desktop;
    }
  }
}

.social {
  @extend .footer-copy;
  margin: 0px $page-margin;
  display: flex;
  justify-content: flex-start;
  gap: $padding;
  padding-top: $padding;
  @include tablet {
    margin: 0;
    display: inline-block;
  }
}
.social-icon {
  width: 24px;
  height: 24px;
  @include tablet {
    padding-right: $padding-large;
  }
}
.contact-list {
  padding-bottom: $padding;
  @include tablet {
    display: flex;
    justify-content: flex-start;
    padding-bottom: $padding-large;
    margin: 0 $page-margin--tablet;
  }
  @include desktop {
    margin: 0 $page-margin--desktop;
  }
}

.contact {
  width: 215px;
  padding-left: $padding;
  @include tablet {
    padding-left: 0;
    padding-right: $page-margin--tablet;
  }
  @include desktop {
    padding-right: $page-margin--desktop;
  }
  &__text {
    @extend .footer-copy;
    &--bold {
      font-weight: 700;
    }
  }
}

.footer__logo {
  margin: 0px $page-margin;
  @extend .section-header;
  color: $White;
  text-align: left;
  text-decoration: none;
  @include tablet {
    display: none;
  }

  &--upper {
    @extend .subheader;
    font-weight: 400;
    display: none;
    @include tablet {
      display: inline-block;
      position: absolute;
      padding-top: $padding-before-headline-large;
      padding-right: 36px;
      color: $White;
      right: $page-margin--tablet;
    }
    @include desktop {
      right: $page-margin--desktop;
    }
  }
}
.copyright__text {
  margin: 0px $page-margin;
  @extend .footer-copy;
  text-align: left;
  @include tablet {
    margin: 0px $page-margin--tablet;
  }
  @include desktop {
    margin: 0 $page-margin--desktop;
  }
}

// styling for the comment section
.conversation {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}
.add-comments {
  // display: flex;
  // flex-direction: column;
  // flex-grow: 1;
}
.form {
  display: flex;
  flex-direction: column;
  gap: $padding;
  &__name {
    width: -webkit-fill-available;
    min-height: 36px;
    border-radius: 4px;
    border-color: $Mercury;
    border-style: solid;
    @include tablet {
      min-height: 48px;
    }
  }
  &__comment {
    width: -webkit-fill-available;
    min-height: 36px;
    border-radius: 4px;
    border-color: $Mercury;
    border-style: solid;
    @include tablet {
      min-height: 48px;
    }
  }
  &__label {
    @extend .labels-and-buttons;
    color: $Mercury;
    font-weight: 400;
    &--comment {
      @extend .form__label;
    }
  }
}

.primary-cta {
  @extend .labels-and-buttons;
  font-size: 14px;
  margin-top: $padding;
  color: $White;
  height: 40px;
  width: 100%;
  background-color: $BandSite-Black;
  border-radius: 4px;
  @include tablet {
    max-width: 150px;
  }
  &--hidden {
    @extend .primary-cta;
    visibility: hidden;
  }
}
.comments {
  @extend .body-copy;
  margin: 0px $page-margin;
  @include tablet {
    margin: 0px $page-margin--tablet;
  }
  @include desktop {
    margin: 0 $page-margin--desktop;
  }
}
.comment-item {
  display: flex;
  justify-content: space-between;
  gap: 8px;

  &__title {
    display: flex;
    justify-content: space-between;
  }
  &__name {
    font-weight: 700;
  }
  &__date {
    color: $Mercury;
  }
  &__text {
    padding-bottom: 8px;
  }
  &__rightColumn {
    margin-top: 8px;
  }
}

hr {
  width: 100%;
  color: $Mercury;
  stroke: $Mercury;
  stroke-width: 1px;
}

.avatar {
  margin-top: 8px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: $Mercury;
  flex-shrink: 0;
  &--filled {
    background-image: url("../assets/Images/Mohan-muruge.jpg");
    background-size: contain;
    margin: $padding $padding $padding 0;
  }
}
