@use "./particials/breakpoints.scss" as *;
@use "./particials/colors.scss" as *;
@use "./particials/font-face.css" as *;
@use "./particials/paddings-margins.scss" as *;
@import "./particials/typography.scss";

// reset the default margin
body,
h1,
h2,
h3,
p {
  margin: 0;
}
// header
header {
  // position: fixed; // how to make the header fixed while not exceed
  margin: 0;
  background-color: $BandSite-Black;
  width: 100vw;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    flex-direction: row;
    justify-self: flex-start;
    align-items: baseline;
  }
}
.nav-logo {
  @extend .page-header;
  width: 7.5rem;
  padding-top: $padding;
  @include tablet {
    display: none;
  }
}

.nav-logo--inline {
  display: none;
  @extend .subheader;
  color: $White;

  @include tablet {
    display: inline-block;
    width: 120px;
    text-decoration: none;
    margin: 0 $page-margin--tablet;
    padding-bottom: $padding-large;
    padding-right: $padding-large;
  }
}

.nav-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  @include tablet {
    justify-content: flex-start;
  }
}

.nav-item {
  @extend .subheader;
  color: $Mercury;
  font-weight: 400; // font-weight for inactivate nav-item
  text-align: center;
  padding-bottom: $padding;
  text-decoration: none;
  flex-grow: 1;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  @include tablet {
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
    padding: $padding-large;
    flex-grow: 0;
  }
}
.nav-item:hover {
  color: $White; // apply $White color for item of hovering over
  border-bottom: thick $White solid;
}
.nav-item:active {
  font-weight: 700; // font-weight for inactivate nav-item
}
.hero {
  height: 40vh;
  position: relative;
  background-image: url("/assets/Images/hero-bio.jpg");
  background-size: cover;
}
hero::before {
  background-color: $BandSite-Black;
  opacity: 50%;
}

.hero-text {
  @extend .page-header;
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding-left: $page-margin;
  @include tablet {
    padding-left: $page-margin--tablet;
  }
}

body {
  margin: 0;
  padding: 0;
}
.about {
  padding-bottom: $padding;

  &__heading {
    @extend .section-header;
    text-align: left;
    @include tablet {
      margin: 0 $page-margin--tablet;
    }
  }
  &__content {
    @include tablet {
      margin: 0px $page-margin--tablet;
      padding: 0px $page-margin--tablet;
      padding-bottom: $padding-large;
    }
  }
  &__photo {
    @extend .subheader;
    width: 100%;
    align-items: center;
  }

  &__quotes {
    @extend .subheader;
    font-weight: 600;
    text-align: left;
    &--origin {
      @extend .body-copy;
      font-weight: 600;
    }
  }

  &__band-name {
    @extend .subheader;
    padding-top: $padding-before-headline-large;
  }
  &__list {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-content: space-between;
      gap: $padding-large;
    }
  }
  &__item {
    @extend .body-copy;
    @include tablet {
      flex: inline;
      width: 50%;
    }
  }
}

.gallery {
  background-color: $Alabaster;
  &__title {
    margin: 0px $page-margin;
    @include tablet {
      margin: 0px $page-margin--tablet;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: $padding;
    margin: 0px $page-margin;

    @include tablet {
      flex-direction: row;
      column-count: 3;
      gap: $padding-large;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: $padding-large;
      margin: 0px $page-margin--tablet;
    }
  }
  &__title {
    @extend .about__heading;
    margin: 0px $page-margin;
    @include tablet {
      padding-bottom: $padding-large;
      margin: 0px $page-margin--tablet;
    }
  }
  &__item {
    width: 100%;
    padding-top: $padding;
    @include tablet {
      width: 30%;
    }
  }
}

.footer_headings {
  @include tablet {
    display: flex;
    justify-content: flex-start;
  }
}

.footer {
  background-color: $BandSite-Black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: $padding;

  &__heading {
    @extend .section-header;
    color: $White;
    text-align: left;
    margin: 0px $page-margin;
    @include tablet {
      display: inline-block;
      margin: 0px $page-margin--tablet;
    }
    // @include desktop {
    //   margin: 0px $page-margin--desktop;
    // }
  }
}

.social {
  @extend .footer-copy;
  margin: 0px $page-margin;
  display: flex;
  justify-content: flex-start;
  gap: $padding;
  padding-top: $padding;
  @include tablet {
    // margin: 0px $page-margin--tablet;
    display: inline-block;
  }
}
.social-icon {
  width: 24px;
  height: 24px;
  @include tablet {
    padding-right: $padding-large;
  }
}
.contact-list {
  padding-bottom: $padding;
  @include tablet {
    padding-bottom: $padding-large;
  }
}
.contact-list {
  @include tablet {
    display: flex;
    justify-content: flex-start;
  }
}
.contact {
  @include tablet {
  }
  &__text {
    @extend .footer-copy;
    &--bold {
      font-weight: 700;
    }
  }
  margin: 0px $page-margin;
  @include tablet {
    margin: 0px $page-margin--tablet;
  }
}

.footer__logo {
  margin: 0px $page-margin;
  @extend .section-header;
  color: $White;
  text-align: left;
  @include tablet {
    display: none;
    margin: 0px $page-margin--tablet;
  }

  &--upper {
    @extend .subheader;
    font-weight: 400;
    display: none;
    @include tablet {
      display: inline-block;
      position: absolute;
      padding-top: $padding-before-headline-large;
      padding-right: 36px;
      color: $White;
      right: $page-margin--tablet;
    }
  }
}
.copyright__text {
  margin: 0px $page-margin;
  @extend .footer-copy;
  text-align: left;
  @include tablet {
    margin: 0px $page-margin--tablet;
  }
}
