@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
body,
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  margin: 0;
  background-color: #282828;
  width: 100vw;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-self: flex-start;
    align-items: baseline;
  }
}

.nav-logo {
  font-family: "Avenir Next LT Pro";
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  width: 7.5rem;
  padding-top: 1rem;
  text-decoration: none;
}
@media (min-width: 768px) {
  .nav-logo {
    font-size: 60px;
    line-height: 68px;
  }
}
@media (min-width: 768px) {
  .nav-logo {
    display: none;
  }
}

.nav-logo--inline {
  display: none;
  font-family: "Avenir Next LT Pro";
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #282828;
  padding-top: 1rem;
  font-weight: 400;
  color: #ffffff;
}
@media (min-width: 768px) {
  .nav-logo--inline {
    padding-top: 24px;
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 768px) {
  .nav-logo--inline {
    display: inline-block;
    width: 120px;
    text-decoration: none;
    margin-left: 2.25rem;
    padding-bottom: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 1280px) {
  .nav-logo--inline {
    margin-left: 82px;
  }
}

.nav-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 768px) {
  .nav-list {
    justify-content: flex-start;
  }
}

.nav-item {
  font-family: "Avenir Next LT Pro";
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #282828;
  padding-top: 1rem;
  color: #e1e1e1;
  font-weight: 400;
  text-align: center;
  padding-bottom: 1rem;
  text-decoration: none;
  flex-grow: 1;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}
@media (min-width: 768px) {
  .nav-item {
    padding-top: 24px;
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 768px) {
  .nav-item {
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
    padding: 24px;
    flex-grow: 0;
  }
}

.nav-item:hover {
  color: #ffffff;
  border-bottom: thick #ffffff solid;
}

.nav-item:active {
  font-weight: 700;
}

.hero {
  height: 40vh;
  position: relative;
  background: url("/assets/Images/hero-bio.jpg") rgba(40, 40, 40, 0.5);
  background-size: cover;
  background-blend-mode: multiply;
}
@media (min-width: 1280px) {
  .hero {
    height: 90vh;
  }
}

.hero-text {
  font-family: "Avenir Next LT Pro";
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .hero-text {
    font-size: 60px;
    line-height: 68px;
  }
}
@media (min-width: 768px) {
  .hero-text {
    padding-left: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .hero-text {
    padding-left: 82px;
  }
}

body {
  margin: 0;
  padding: 0;
}

.about {
  padding-bottom: 1rem;
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .about {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .about {
    margin: 0 82px;
  }
}
.about__heading, .gallery__title {
  font-family: "Avenir Next LT Pro";
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  color: #282828;
  padding-top: 1.5rem;
  text-align: left;
}
@media (min-width: 768px) {
  .about__heading, .gallery__title {
    font-size: 60px;
    line-height: 68px;
  }
}
@media (min-width: 768px) {
  .about__heading, .gallery__title {
    padding-top: 3rem;
    font-size: 36px;
    line-height: 44px;
  }
}
@media (min-width: 768px) {
  .about__content {
    padding: 0px 2.25rem;
    padding-bottom: 24px;
  }
}
@media (min-width: 1280px) {
  .about__content {
    padding: 0px 82px;
  }
}
.about__photo {
  font-family: "Avenir Next LT Pro";
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #282828;
  padding-top: 1rem;
  width: 100%;
  align-items: center;
}
@media (min-width: 768px) {
  .about__photo {
    padding-top: 24px;
    font-size: 24px;
    line-height: 32px;
  }
}
.about__quotes {
  font-family: "Avenir Next LT Pro";
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #282828;
  padding-top: 1rem;
  font-weight: 600;
  text-align: left;
}
@media (min-width: 768px) {
  .about__quotes {
    padding-top: 24px;
    font-size: 24px;
    line-height: 32px;
  }
}
.about__quotes--origin {
  font-family: "Avenir Next LT Pro";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #282828;
  padding-top: 1rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about__quotes--origin {
    font-size: 14px;
    line-height: 22px;
    padding-top: 24px;
  }
}
.about__band-name {
  font-family: "Avenir Next LT Pro";
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #282828;
  padding-top: 1rem;
  padding-top: 3rem;
}
@media (min-width: 768px) {
  .about__band-name {
    padding-top: 24px;
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 768px) {
  .about__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    gap: 24px;
  }
}
.about__item {
  font-family: "Avenir Next LT Pro";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #282828;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .about__item {
    font-size: 14px;
    line-height: 22px;
    padding-top: 24px;
  }
}
@media (min-width: 768px) {
  .about__item {
    flex: inline;
    width: 50%;
  }
}

.gallery {
  background-color: #fafafa;
}
.gallery__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1rem;
  margin: 0px 1rem;
}
@media (min-width: 768px) {
  .gallery__list {
    flex-direction: row;
    -moz-column-count: 3;
         column-count: 3;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 24px;
    margin: 0px 2.25rem;
  }
}
@media (min-width: 1280px) {
  .gallery__list {
    margin: 0 82px;
  }
}
.gallery__title {
  margin: 0px 1rem;
}
@media (min-width: 768px) {
  .gallery__title {
    padding-bottom: 24px;
    margin: 0px 2.25rem;
  }
}
@media (min-width: 1280px) {
  .gallery__title {
    margin: 0 82px;
  }
}
.gallery__item {
  width: 100%;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .gallery__item {
    width: 30%;
  }
}

@media (min-width: 768px) {
  .footer_headings {
    display: flex;
    justify-content: flex-start;
  }
}

.footer {
  background-color: #282828;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 1rem;
}
.footer__heading {
  font-family: "Avenir Next LT Pro";
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  color: #282828;
  padding-top: 1.5rem;
  color: #ffffff;
  text-align: left;
  margin: 0px 1rem;
}
@media (min-width: 768px) {
  .footer__heading {
    font-size: 60px;
    line-height: 68px;
  }
}
@media (min-width: 768px) {
  .footer__heading {
    padding-top: 3rem;
    font-size: 36px;
    line-height: 44px;
  }
}
@media (min-width: 768px) {
  .footer__heading {
    display: inline-block;
    margin: 0px 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__heading {
    margin: 0px 82px;
  }
}

.social {
  font-family: "Avenir Next LT Pro";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #282828;
  padding-top: 1rem;
  color: #ffffff;
  padding-top: 1rem;
  margin: 0px 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .social {
    font-size: 14px;
    line-height: 22px;
    padding-top: 24px;
  }
}
@media (min-width: 768px) {
  .social {
    font-size: 14px;
    line-height: 20px;
    padding-top: 24px;
  }
}
@media (min-width: 768px) {
  .social {
    margin: 0;
    display: inline-block;
  }
}

.social-icon {
  width: 24px;
  height: 24px;
}
@media (min-width: 768px) {
  .social-icon {
    padding-right: 24px;
  }
}

.contact-list {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .contact-list {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 24px;
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .contact-list {
    margin: 0 82px;
  }
}

.contact {
  width: 215px;
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .contact {
    padding-left: 0;
    padding-right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .contact {
    padding-right: 82px;
  }
}
.contact__text {
  font-family: "Avenir Next LT Pro";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #282828;
  padding-top: 1rem;
  color: #ffffff;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .contact__text {
    font-size: 14px;
    line-height: 22px;
    padding-top: 24px;
  }
}
@media (min-width: 768px) {
  .contact__text {
    font-size: 14px;
    line-height: 20px;
    padding-top: 24px;
  }
}
.contact__text--bold {
  font-weight: 700;
}

.footer__logo {
  margin: 0px 1rem;
  font-family: "Avenir Next LT Pro";
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  color: #282828;
  padding-top: 1.5rem;
  color: #ffffff;
  text-align: left;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer__logo {
    font-size: 60px;
    line-height: 68px;
  }
}
@media (min-width: 768px) {
  .footer__logo {
    padding-top: 3rem;
    font-size: 36px;
    line-height: 44px;
  }
}
@media (min-width: 768px) {
  .footer__logo {
    display: none;
  }
}
.footer__logo--upper {
  font-family: "Avenir Next LT Pro";
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #282828;
  padding-top: 1rem;
  font-weight: 400;
  display: none;
}
@media (min-width: 768px) {
  .footer__logo--upper {
    padding-top: 24px;
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 768px) {
  .footer__logo--upper {
    display: inline-block;
    position: absolute;
    padding-top: 3rem;
    padding-right: 36px;
    color: #ffffff;
    right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__logo--upper {
    right: 82px;
  }
}

.copyright__text {
  margin: 0px 1rem;
  font-family: "Avenir Next LT Pro";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #282828;
  padding-top: 1rem;
  color: #ffffff;
  padding-top: 1rem;
  text-align: left;
}
@media (min-width: 768px) {
  .copyright__text {
    font-size: 14px;
    line-height: 22px;
    padding-top: 24px;
  }
}
@media (min-width: 768px) {
  .copyright__text {
    font-size: 14px;
    line-height: 20px;
    padding-top: 24px;
  }
}
@media (min-width: 768px) {
  .copyright__text {
    margin: 0px 2.25rem;
  }
}
@media (min-width: 1280px) {
  .copyright__text {
    margin: 0 82px;
  }
}

.conversation {
  display: flex;
  justify-content: space-between;
}

.add-comments {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form {
  display: flex;
  flex-direction: column;
}
.form__name {
  width: -webkit-fill-available;
  min-height: 36px;
  border-radius: 4px;
  border-color: #e1e1e1;
  border-style: solid;
}
@media (min-width: 768px) {
  .form__name {
    min-height: 48px;
  }
}
.form__comment {
  width: -webkit-fill-available;
  min-height: 36px;
  border-radius: 4px;
  border-color: #e1e1e1;
  border-style: solid;
}
@media (min-width: 768px) {
  .form__comment {
    min-height: 48px;
  }
}
.form__label, .form__label--comment {
  font-family: "Avenir Next LT Pro";
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  color: #282828;
  color: #e1e1e1;
  font-weight: 400;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .form__label, .form__label--comment {
    font-size: 12px;
    line-height: 20px;
  }
}
.primary-cta, .primary-cta--hidden {
  font-family: "Avenir Next LT Pro";
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  color: #282828;
  font-size: 14px;
  margin: 1rem 0;
  color: #ffffff;
  height: 40px;
  width: 100%;
  background-color: #282828;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .primary-cta, .primary-cta--hidden {
    font-size: 12px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .primary-cta, .primary-cta--hidden {
    max-width: 150px;
  }
}
.primary-cta--hidden {
  visibility: hidden;
}

.comments {
  font-family: "Avenir Next LT Pro";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #282828;
  padding-top: 1rem;
  margin: 0px 1rem;
}
@media (min-width: 768px) {
  .comments {
    font-size: 14px;
    line-height: 22px;
    padding-top: 24px;
  }
}
@media (min-width: 768px) {
  .comments {
    margin: 0px 2.25rem;
  }
}
@media (min-width: 1280px) {
  .comments {
    margin: 0 82px;
  }
}

.comment-item {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.comment-item__title {
  display: flex;
  justify-content: space-between;
}
.comment-item__name {
  font-weight: 700;
}
.comment-item__date {
  color: #e1e1e1;
}
.comment-item__text {
  padding-bottom: 8px;
}
.comment-item__rightColumn {
  flex-grow: 1;
  margin-top: 8px;
}

hr {
  width: 100%;
  color: #e1e1e1;
  stroke: #e1e1e1;
  stroke-width: 1px;
}

.avatar {
  margin-top: 8px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #e1e1e1;
  flex-shrink: 0;
}
.avatar--filled {
  background-image: url("../assets/Images/Mohan-muruge.jpg");
  background-size: contain;
  margin: 1rem 1rem 1rem 0;
}/*# sourceMappingURL=bio.css.map */