@use "./particials/breakpoints.scss" as *;
@use "./particials/colors.scss" as *;
@use "./particials/font-face.css" as *;
@use "./particials/paddings-margins.scss" as *;
@use "./particials/typography.scss" as *;

.hero {
  height: fit-content;
  position: relative;
  background: url("../assets/Images/hero-shows.jpg") rgba(40, 40, 40, 0.5);
  background-size: cover;
  background-blend-mode: multiply;
  @include tablet {
    height: fit-content;
  }
  &__body {
    @extend .body-copy;
    margin: 0rem $page-margin;
    padding-top: $padding-before-headline;
    color: $White;
    @include tablet {
      padding-top: $padding-before-headline-large 0;
      margin: 0 $page-margin--tablet;
    }
  }
  &__heading {
    @extend .section-header;
    width: 60%;
    color: $White;
    margin: 0rem $page-margin;
    padding-top: $padding-before-headline;
    @include tablet {
      padding-top: $padding-before-headline-large 0;
      margin: 0 $page-margin--tablet;
    }
  }
  &__music {
    margin: 0 $page-margin;
    padding: $padding-before-headline 0;
    @include tablet {
      padding: $padding-before-headline-large 0;
      margin: 0 $page-margin--tablet;
    }
  }
}

iframe {
  @include tablet {
    width: 144px;
  }
}
.shows {
  margin: 0rem $page-margin;
  margin-bottom: $page-margin;
  @include tablet {
    margin: $page-margin--tablet;
    margin-bottom: $page-margin--tablet;
  }
  &__heading {
    @extend .section-header;
    padding-top: $padding-before-headline;
  }
}
.show {
  @extend .body-copy;
  text-align: left;
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
  }
  &__labels {
    width: 100%;
    display: none;
    @include tablet {
      display: inline-flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
  &__label {
    @extend .labels-and-buttons;
    font-weight: 400;
    color: $Silver;
    @include tablet {
      display: none; //individual labels will be hidden
    }
    &--persist {
      @extend .show__label;
      @include tablet {
        display: inline;
        width: 20%;
      }
    }
  }
  &__content {
    color: $BandSite-Black;
    @include tablet {
      width: 20%;
    }
    &--bold {
      font-weight: bold;
    }
  }
  &__divider {
    border-style: inset;
    border-width: 1px;
    border-color: $Mercury;
    margin-top: $padding;
    flex-basis: 100%;
  }
}

.primary-cta {
  @extend .labels-and-buttons;
  font-size: 14px;
  margin-top: $padding;
  color: $White;
  height: 40px;
  width: 100%;
  background-color: $BandSite-Black;
  border-radius: 4px;
  @include tablet {
    max-width: 150px;
  }
  &--hidden {
    @extend .primary-cta;
    visibility: hidden;
  }
}
