@use "./particials/breakpoints.scss" as *;
@use "./particials/colors.scss" as *;
@use "./particials/font-face.css" as *;
@use "./particials/paddings-margins.scss" as *;
@use "./particials/typography.scss" as *;

.hero {
  height: fit-content;
  position: relative;
  background: url("../assets/Images/hero-shows.jpg") rgba(40, 40, 40, 0.5);
  background-size: cover;
  background-blend-mode: multiply;
  @include tablet {
    height: fit-content;
  }
  &__body {
    @include body-copy;
    margin: 0rem $page-margin;
    padding-top: $padding-before-headline;
    color: $White;
    @include tablet {
      padding-top: $padding-before-headline-large 0;
      margin: 0 $page-margin--tablet;
    }
  }
  &__heading {
    @include section-header;
    width: 60%;
    color: $White;
    margin: 0rem $page-margin;
    padding-top: $padding-before-headline;
    @include tablet {
      padding-top: $padding-before-headline-large 0;
      margin: 0 $page-margin--tablet;
    }
  }
  &__music {
    margin: 0 $page-margin;
    padding: $padding-before-headline 0;
    @include tablet {
      padding: $padding-before-headline-large 0;
      margin: 0 $page-margin--tablet;
    }
  }
}

iframe {
  @include tablet {
    width: 425px;
    height: 144px;
  }
}
.shows {
  margin: 0rem $page-margin;
  margin-bottom: $page-margin;

  &__heading {
    @include section-header;
    font-weight: 600;
    padding-top: $padding-before-headline;
    @include desktop {
      padding-top: 0;
      padding-left: $padding;
      padding-right: $padding;
    }
  }
  @include tablet {
    margin: $page-margin--tablet;
    margin-bottom: $page-margin--tablet;
  }
  @include desktop {
    padding-top: 0rem;
    height: fit-content;
    margin: $page-margin--desktop;
    margin-bottom: $page-margin--desktop;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: $page-margin--desktop;
  }
}
.show-table {
  @include desktop {
    flex-grow: 1;
  }
}
.show:hover {
  background-color: $Alabaster;
}
.show:active {
  background-color: $Mercury;
}
.show {
  @include body-copy;
  text-align: left;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    border-bottom-width: 1px;
    border-bottom-color: $Mercury;
    border-bottom-style: solid;
    padding-top: 0rem;
    padding-left: $padding-other;
    padding-right: $padding-other;
  }
  @include desktop {
    align-items: flex-end;
  }
  &__labels {
    display: none;
    @include tablet {
      width: -webkit-fill-available;
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding-top: 0;
      padding-left: $padding-other;
      padding-right: $padding-other;
    }
    @include desktop {
      align-items: flex-end;
      height: 44px;
    }
  }
  &__label {
    @include labels-and-buttons;
    font-weight: 600;
    color: $Silver;
    @include tablet {
      width: 20%;
      display: none; //individual labels will be hidden
    }
    &--persist {
      @extend .show__label;
      @include tablet {
        display: flex;
      }
    }
  }
  &__content {
    width: 20%;
    color: $BandSite-Black;
    @include tablet {
      padding-top: $padding-large;
      padding-bottom: $padding-large;
    }
    &--bold {
      font-weight: bold;
    }
  }
  &__divider {
    border-style: inset;
    border-width: 1px;
    border-color: $Mercury;
    margin-top: $padding;
    flex-basis: 100%;
    @include tablet {
      display: none;
    }
  }
}

.primary-cta {
  @include labels-and-buttons;
  font-size: 14px;
  color: $White;
  height: $cta-height;
  width: 100%;
  background-color: $BandSite-Black;
  border-radius: 4px;
  @include tablet {
    min-width: 200px;
    flex-basis: 100%;
    font-size: 14px;
    padding-left: 32px;
    padding-right: 32px;
  }
  &--hidden {
    @extend .primary-cta;
    visibility: hidden;
  }
}

.primary-cta:hover {
  background-color: $BandSite-DarkBlack;
}
