@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
} 
.hero {
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  background: url("../assets/Images/hero-shows.jpg") rgba(40, 40, 40, 0.5);
  background-size: cover;
  background-blend-mode: multiply;
}
@media (min-width: 768px) {
  .hero {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.hero__body {
  font-family: "Avenir Next LT Pro";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #282828;
  padding-top: 1rem;
  margin: 0rem 1rem;
  padding-top: 1.5rem;
  color: #ffffff;
}
@media (min-width: 768px) {
  .hero__body {
    font-size: 14px;
    line-height: 22px;
    padding-top: 24px;
  }
}
@media (min-width: 768px) {
  .hero__body {
    padding-top: 3rem 0;
    margin: 0 2.25rem;
  }
}
.hero__heading {
  font-family: "Avenir Next LT Pro";
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  color: #282828;
  padding-top: 1.5rem;
  width: 60%;
  color: #ffffff;
  margin: 0rem 1rem;
  padding-top: 1.5rem;
}
@media (min-width: 768px) {
  .hero__heading {
    font-size: 60px;
    line-height: 68px;
  }
}
@media (min-width: 768px) {
  .hero__heading {
    padding-top: 3rem;
    font-size: 36px;
    line-height: 44px;
  }
}
@media (min-width: 768px) {
  .hero__heading {
    padding-top: 3rem 0;
    margin: 0 2.25rem;
  }
}
.hero__music {
  margin: 0 1rem;
  padding: 1.5rem 0;
}
@media (min-width: 768px) {
  .hero__music {
    padding: 3rem 0;
    margin: 0 2.25rem;
  }
}

@media (min-width: 768px) {
  iframe {
    width: 144px;
  }
}

.shows {
  margin: 0rem 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .shows {
    margin: 2.25rem;
    margin-bottom: 2.25rem;
  }
}
.shows__heading {
  font-family: "Avenir Next LT Pro";
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  color: #282828;
  padding-top: 1.5rem;
  padding-top: 1.5rem;
}
@media (min-width: 768px) {
  .shows__heading {
    font-size: 60px;
    line-height: 68px;
  }
}
@media (min-width: 768px) {
  .shows__heading {
    padding-top: 3rem;
    font-size: 36px;
    line-height: 44px;
  }
}

.show {
  font-family: "Avenir Next LT Pro";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #282828;
  padding-top: 1rem;
  text-align: left;
}
@media (min-width: 768px) {
  .show {
    font-size: 14px;
    line-height: 22px;
    padding-top: 24px;
  }
}
@media (min-width: 768px) {
  .show {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
  }
}
.show__labels {
  width: 100%;
  display: none;
}
@media (min-width: 768px) {
  .show__labels {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.show__label, .show__label--persist {
  font-family: "Avenir Next LT Pro";
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  color: #282828;
  font-weight: 400;
  color: #afafaf;
}
@media (min-width: 768px) {
  .show__label, .show__label--persist {
    font-size: 12px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .show__label, .show__label--persist {
    display: none;
  }
}
@media (min-width: 768px) {
  .show__label--persist {
    display: inline;
    width: 20%;
  }
}
.show__content {
  color: #282828;
}
@media (min-width: 768px) {
  .show__content {
    width: 20%;
  }
}
.show__content--bold {
  font-weight: bold;
}
.show__divider {
  border-style: inset;
  border-width: 1px;
  border-color: #e1e1e1;
  margin-top: 1rem;
  flex-basis: 100%;
}

.primary-cta, .primary-cta--hidden {
  font-family: "Avenir Next LT Pro";
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  color: #282828;
  font-size: 14px;
  margin-top: 1rem;
  color: #ffffff;
  height: 40px;
  width: 100%;
  background-color: #282828;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .primary-cta, .primary-cta--hidden {
    font-size: 12px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .primary-cta, .primary-cta--hidden {
    max-width: 150px;
  }
}
.primary-cta--hidden {
  visibility: hidden;
}/*# sourceMappingURL=shows.css.map */