@use "./particials/breakpoints.scss" as *;
@use "./particials/colors.scss" as *;
@use "./particials/font-face.css" as *;
@use "./particials/paddings-margins.scss" as *;
@use "./particials/typography.scss" as *;

.hero {
  background: url("../assets/Images/hero-shows.jpg") rgba(40, 40, 40, 0.5);
  background-size: cover;
  background-blend-mode: multiply;

  &__text-subheader {
    @include subheader;
    margin-left: $page-margin;
    padding-top: $padding-before-headline;
    color: $White;
    @include tablet {
      margin: 0 $page-margin--tablet;
      padding-top: $padding-large;
    }
    @include desktop {
      padding-top: $padding-before-headline;
      margin-left: $page-margin--desktop;
    }
  }
  &__text-heading {
    @include page-header;
    font-weight: 600;
    width: 60%;
    color: $White;
    margin: 0rem $page-margin;
    padding-top: $padding-before-headline;
    @include tablet {
      margin: 0 $page-margin--tablet;
      padding-bottom: $padding-before-headline;
    }
    @include desktop {
      margin-left: $page-margin--desktop;
    }
  }
  &__music {
    margin: 0 $page-margin;
    padding: $padding-before-headline 0;
    @include tablet {
      margin: 0 $page-margin--tablet;
    }
    @include desktop {
      margin-right: $page-margin--desktop;
    }
  }
}

iframe {
  @include tablet {
    width: 425px;
    height: 144px;
  }
}
.shows {
  margin: 0rem $page-margin;
  margin-bottom: $page-margin;
  @include tablet {
    padding: $padding-before-headline 0;
    margin: 0 $page-margin--tablet;
  }
  @include desktop {
    padding: $padding-before-headline-large 0;
    margin: 0 $page-margin--desktop;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: $page-margin--desktop;
  }
  &__heading {
    @include section-header;
    font-weight: 600;
    padding-top: $padding-before-headline;
    padding-bottom: $padding-before-headline;
    @include tablet {
      padding-left: $padding-other;
      padding-right: $padding-other;
      padding-top: $padding-before-headline-large;
      padding-bottom: 0;
    }
    @include desktop {
      padding-top: 0;
      padding-left: $padding;
      padding-right: $padding;
    }
  }
}
.show-table {
  @include desktop {
    flex-grow: 1;
  }
}
.show:hover {
  background-color: $Alabaster;
}
.show:active {
  background-color: $Mercury;
}
.show {
  @include body-copy;
  text-align: left;
  padding-top: 0;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: nowrap;
    border-bottom-width: 1px;
    border-bottom-color: $Mercury;
    border-bottom-style: solid;
    padding-top: 0rem;
    padding-left: $padding-other;
    padding-right: $padding-other;
  }
  @include desktop {
    align-items: flex-end;
  }
  &__labels {
    display: none;
    @include tablet {
      width: -webkit-fill-available;
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding-top: 0;
      padding-left: $padding-other;
      padding-right: $padding-other;
    }
    @include desktop {
      align-items: flex-end;
      height: 44px;
    }
  }
  &__label {
    @include labels-and-buttons;
    font-weight: 600;
    color: $Silver;
    padding-top: 10px;
    @include tablet {
      width: 20%;
      display: none; //individual labels will be hidden
    }
    &--date {
      @extend .show__label;
      padding-top: 0;
    }
    &--persist {
      @extend .show__label;
      @include tablet {
        display: flex;
      }
    }
  }
  &__content {
    color: $BandSite-Black;
    @include tablet {
      width: 20%;
      padding-top: $padding-large;
      padding-bottom: $padding-large;
    }
    &--date {
      @extend .show__content;
      font-weight: 600;
    }
  }
  &__divider {
    border-style: solid;
    border-width: 0.5px;
    border-color: $Mercury;
    margin: 0;
    flex-basis: 100%;
    padding: 0;
    margin-bottom: $padding;
    @include tablet {
      display: none;
    }
  }
}
.primary-cta {
  @include tablet {
    margin-left: 0;
    width: 150px;
    font-size: 14px;
  }

  &--hidden {
    @extend .primary-cta;
    visibility: hidden;
  }
}

.primary-cta:hover {
  background-color: $BandSite-DarkBlack;
}
